.spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 5em;
  background-color: white;
}

.home-button-container {
  display: flex;
  justify-content: center;
  width: 140px;
}

.home-button {
  padding: 0;
  border-radius: 10px;
  background-color: #e5ffe9 !important;
}

.home-button .home-icon {
  margin: 0;
  font-size: 2em;
  height: auto;
  width: auto;
  color: green;
}

.home-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
