.container {
    display: flex;
    place-content: center;
    padding-top: 50px;
}

.container button {

    border: 3px solid #315cfd;
    border-radius: 45px;
    margin-right: 50px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
  }
  
.container  button:hover {
    background: #315cfd;
    color: white;
    font-size: 1.5em;
  }


.mat-toolbar-custom{
  background-color: rgb(189, 16, 16);
}